<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <thymeleaf th:replace="header :: header"/>
</head>
<body>
<div class="container">

    <div th:replace="action :: action"></div>

    <h2>Beach Details</h2>

    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal" th:object="${beach}" th:action="@{'/beach'}" method="post">

                <input type="hidden" th:field="*{id}"/>

                <div class="form-group" th:classappend="${#fields.hasErrors('beachName')} ? has-error">
                    <label class="col-sm-2 control-label">BeachName:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{beachName}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('beachName')}" th:errors="*{beachName}">Beach Name error messages</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('location')} ? has-error">
                    <label class="col-sm-2 control-label">Location:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{location}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Location Name error messages</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('capacityEvaluator')} ? has-error">
                    <label class="col-sm-2 control-label">Capacity Evaluator:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{capacityEvaluator}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('capacityEvaluator')}" th:errors="*{capacityEvaluator}">Capacity Evaluator error messages</span>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('updateTime')} ? has-error">
                    <label class="col-sm-2 control-label">Updated Time:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{updateTime}"/>
                        <span class="help-block" th:if="${#fields.hasErrors('phone')}" th:errors="*{updateTime}">Updated Time error messages</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary" name="action" value="save">Submit</button>
                        <button type="cancel" class="btn btn-danger" name="action" value="cancel">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

