<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
    </style>
</head>
<body>

<div class="container">




    <td th:text="${beach.getBeachName()}"></td>
    <td th:text="${beach.getLocation()}"></td>
    <td th:text="${beach.getStatus().toString()}"></td>
    <td th:text="${beach.getUpdateTime()}"></td>
        </div>


    <table class="table table-striped">
        <tr>
            <th>Capacity Evaluator</th>
            <th>Updated Time</th>
        </tr>
        <tr th:each="beach : ${beaches}">

            <td th:text="${beach.capacityEvaluator}"></td>
            <td th:text="${beach.updateTime}"></td>

        </tr>
    </table>






</div>

</body>
</html>
