<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header"/>
    
</head>
<body>

<div class="container">


        <div th:object="${beach}">
            <p>ID: <span th:text="*{id}"> 01 </span>.</p>
            <p>Name: <span th:text="*{name}"> Costa </span>.</p>
            <p>Location: <span th:text="*{location}"> Setubal</span>.</p>
        </div>


    <table class="table table-striped">
        <tr>
            <th>Capacity Evaluator</th>
            <th>Updated Time</th>
        </tr>
        <tr th:each="beach : ${beaches}">

            <td th:text="${beach.capacityEvaluator}"></td>
            <td th:text="${beach.updateTime}"></td>

        </tr>
    </table>





    <div class="row">
        <div class="col-sm-8">
            <a class="btn btn-primary" th:href="@{'/beach/' + ${beach} + '/list'}">Recipients</a>

        </div>
    </div>

</div>

</body>
</html>
