<!DOCTYPE html>
<html lang="en">
<title>RUSHore</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {
        font-family: "Montserrat", sans-serif;
    }
    .fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>
<!-- Header -->
<header class="header-site w3-center"  style="padding:250px 16px">
    <img class="frontpage-logo" src="../lib/coollogo_com-115821281.png" height="144" width="545"/>
    <p class="frontpage-slogan">FIND THE SAFEST BEACH AROUND YOU</p>
    <button onclick="window.location.href = 'https://www.google.pt/search?source=hp&ei=YE-oXq_LLsOoa8adtYgO&q=beaches&oq=beaches&gs_lcp=CgZwc3ktYWIQAzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCAA6BQgAEIMBOgQIABADOgQIABAKUMFKWNRTYOtXaABwAHgAgAFmiAHMBJIBAzYuMZgBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwiv-9ipu4vpAhVD1BoKHcZODeEQ4dUDCAY&uact=5'" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Check Beaches</button>
    <button onclick="window.location.href = ''" class="w3-button login-button">Login</button>
</header>

</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">

    <p>Developed by <a href="https://github.com/frvieira/hackathon" target="_blank">Come Along Time</a></p>
</footer>

<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>
