<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AreUSHore</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          modelType="text/css"/>
    <script modelType="application/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script modelType="application/javascript" async
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Beach List</h2>
    <div th:if="${not #lists.isEmpty(beachs)}">
        <table class="table table-striped">
            <tr>
                <th>Beach Name</th>
                <th>Location</th>
                <th>Show</th>
            </tr>
            <tr th:each="beach : ${beachs}">
                <td th:text="${beach.beachName}"></td>
                <td th:text="${beach.location}"></td>
                <td><a class="btn btn-success" th:href="@{${beach.getId() - 1} + '/details'}">Show</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>