<!DOCTYPE html>
<html class="login-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>


<!--Google Font - Work Sans-->
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div class="container">
    <div class="profile">

        <button class="profile__avatar" id="toggleProfile">
            <img src="..//lib/beach_2_favicon.png" alt="Avatar" />
        </button>
        <div class="profile__form">
            <div class="profile__fields">
                <div class="field">
                    <input type="text" id="fieldUser" class="input" required pattern=.*\S.* />
                    <label for="fieldUser" class="label">       Username       </label>
                </div>
                <div class="field">
                    <input type="password" id="fieldPassword" class="input" required pattern=.*\S.* />
                    <label for="fieldPassword" class="label">      Password      </label>
                </div>
                <div class="profile__footer">
                    <button class="btn">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    document.getElementById('toggleProfile').addEventListener('click', function () {
        [].map.call(document.querySelectorAll('.profile'), function(el) {
            el.classList.toggle('profile--open');
        });
    });
</script>

</body>
</html>